<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script> -->
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Parking</title>
    
</head>

<body>
    <div id="app">
        <button class="login-logout-button">
            Log ind
        </button>

        <button class="view-parking-button" @click="toggleView">
            {{ isCurrentView ? "Se tidligere parkeringer" : "Se aktuelle parkeringer" }}
        </button>

        <!-- Kode til aktuelle parkinger -->  
        <div v-if="isCurrentView">
            <h2>Nuværende parkeret biler</h2>
            <input v-model="LicensePlate" placeholder="License Plate" type="text" >
            <button class="btn btn-primary" v-on:click="getCarByLicensePlate(LicensePlate)">Søg</button>
            
            <div>Der er {{20-currentParkings.length}}/20 ledige pladser tilbage</div>

            <table class="parkings">
                <thead>
                    <tr>
                        <th>Nummerplade</th>
                        <th>Mærke</th>
                        <th>Model</th>
                        <th>Farve</th>
                        <th>Tid</th>
                    </tr>
                </thead>
                <tbody v-for="parking in showParkings" :key="parking.id" class="parkings-row">
                    <tr>
                        <td>{{ parking.licensePlate }}</td>
                        <td>{{ parking.make }}</td>
                        <td>{{ parking.model }}</td>
                        <td>{{ parking.color }}</td>
                        <td>{{ parking.dateTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- Kode til tidligere parkinger -->
        <div v-else>
            <h2>Afsluttede parkeringer</h2>
            <input v-model="LicensePlate" placeholder="License Plate" type="text" >
            <button class="btn btn-primary" v-on:click="getCarByLicensePlate()">Søg</button>
            <ul>
                <li v-for="parking in showParkings" :key="parking.id">
                    Make - {{ parking.make }}
                </li>
            </ul>
        </div> 
    </div>

    <script src="main.js"></script>
</body>
</html>