<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script> -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Parking</title>
    
</head>

<body>
    <div id="app" class="container my-4">
        <div v-if="logout" class="d-flex justify-content-center align-items-center vh-100">
            <div class="card p-4 shadow" style="max-width: 400px; width: 100%; border-radius:25px;">
                <h3 class="text-center mb-4">Login</h3>
                <form @submit.prevent="Login">
                    <div class="form-floating mb-3">
                        <input id="brugernavnTest" type="text"class="form-control"id="username"placeholder="Indtast brugernavn.."v-model="username"required/>
                        <label for="username">Brugernavn:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="passwordTest" type="password"class="form-control"id="password"placeholder="Indtast adgangskode.."v-model="password"required/>
                        <label for="password">Adgangskode:</label>
                    </div>
                    <button id="loginTest" type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <span class="text-danger mt-3 d-block text-center" v-if="error">{{error}}</span>
            </div>
        </div>
        <div v-else>
        <div class="d-flex justify-content-end">
            <div class="position-fixed">
                <button id="logudTest" @click="Logout" class="btn btn-danger">Log ud</button>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button id="seTidligereParkeringerTest" class="btn btn-primary position-fixed bottom-0 end-0 mb-3" @click="toggleView">
                {{ isCurrentView ? "Se tidligere parkeringer" : "Se aktuelle parkeringer" }}
            </button>
        </div>
        
        <!-- Kode til aktuelle parkinger -->  
        <div v-if="isCurrentView">
            <h1 class="text-center">Ledige P-plader</h1>
            <h1 class="text-center" style="margin-bottom: 60px;">{{20-currentParkings.length}}/20 </H1>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 style="text-decoration: underline;">Nuværende parkeret biler</h2>
                    <span class="text-danger text-center">{{error}}</span>
                    <div class="d-flex col-3">
                            <input id="søgAktuelleNummerplade" class="form-control me-2" v-model="licensePlate" placeholder="Søg efter nummerplade .." type="text" v-on:keyup.enter="getCurrentCarByLicensePlate(licensePlate)">
                            <button v-if="licensePlate" class="btn btn-warning ms-2" @click="resetSearch">Nulstil</button>
                    </div>
                </div>
            <table class="table table-bordered table-striped">
                <thead style="text-align: center;">
                    <tr>
                        <th id="aktuelleNummerpladeTest" @click="sortByLicensePlate">
                            Nummerplade
                            <span v-if="sortDirections.licensePlate === 'asc'">⇑</span>
                            <span v-if="sortDirections.licensePlate === 'desc'">⇓</span>
                        </th>
                        <th @click="sortByMake">
                            Mærke
                            <span v-if="sortDirections.make === 'asc'">⇑</span>
                            <span v-if="sortDirections.make === 'desc'">⇓</span>
                        </th>
                        <th @click="sortByModel">Model
                            <span v-if="sortDirections.model === 'asc'">⇑</span>
                            <span v-if="sortDirections.model === 'desc'">⇓</span>
                        </th>
                        <th @click="sortByColor">Farve
                            <span v-if="sortDirections.color === 'asc'">⇑</span>
                            <span v-if="sortDirections.color === 'desc'">⇓</span>
                        </th>
                        <th @click="sortByTime">
                            Tid
                            <span v-if="sortDirections.time === 'asc'">⇑</span>
                            <span v-if="sortDirections.time === 'desc'">⇓</span>
                          </th>
                          <th @click="sortByTotalTime">
                            Totaltid
                            <span v-if="sortDirections.totalTime === 'asc'">⇑</span>
                            <span v-if="sortDirections.totalTime === 'desc'">⇓</span>
                          </th>                          
                    </tr>
                </thead>
                <tbody v-for="parking in showParkings" :key="parking.id" class="parkings-row">
                    <tr>
                        <td>{{ parking.licensePlate }}</td>
                        <td>{{ parking.make }}</td>
                        <td>{{ parking.model }}</td>
                        <td>{{ parking.color }}</td>
                        <td>{{ formatDateTime(parking.activeParked.timeStarted) }}</td>
                        <td>{{ calculateElapsedTime(parking.activeParked.timeStarted) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- Kode til tidligere parkinger -->
        <div v-else>
            <div style="margin-top: 50px;">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 style="text-decoration: underline;">Afsluttede parkeringer</h2>
                    <span class="text-danger text-center">{{error}}</span>
                    <div class="d-flex col-3">
                        <input id="søgAfsluttedeNummerplade" class="form-control me-2" v-model="licensePlate" placeholder="Søg efter nummerplade .." type="text" v-on:keyup.enter="getEndedCarByLicensePlate(licensePlate)" >
                        <button v-if="licensePlate" class="btn btn-warning ms-2" @click="resetSearchEnded">Nulstil</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th id="tidligereNummerpladeTest" @click="sortByLicensePlate">
                            Nummerplade
                            <span v-if="sortDirections.licensePlate === 'asc'">⇑</span>
                            <span v-if="sortDirections.licensePlate === 'desc'">⇓</span>
                        </th>
                        <th @click="sortByMake">
                            Mærke
                            <span v-if="sortDirections.make === 'asc'">⇑</span>
                            <span v-if="sortDirections.make === 'desc'">⇓</span>
                        </th>
                        <th @click="sortByModel">Model
                            <span v-if="sortDirections.model === 'asc'">⇑</span>
                            <span v-if="sortDirections.model === 'desc'">⇓</span>
                        </th>
                        <th @click="sortByColor">Farve
                            <span v-if="sortDirections.color === 'asc'">⇑</span>
                            <span v-if="sortDirections.color === 'desc'">⇓</span>
                        </th>
                        <th @click="sortByTimeStart">
                            P. start
                            <span v-if="sortDirections.timeStart === 'asc'">⇑</span>
                            <span v-if="sortDirections.timeStart === 'desc'">⇓</span>
                          </th>
                          <th @click="sortByTimeEnded">
                            P. slut
                            <span v-if="sortDirections.timeEnded === 'asc'">⇑</span>
                            <span v-if="sortDirections.timeEnded === 'desc'">⇓</span>
                          </th>
                          <th @click="sortByTotalTimeEnded">
                            Samlet tid
                            <span v-if="sortDirections.totalTime === 'asc'">⇑</span>
                            <span v-if="sortDirections.totalTime === 'desc'">⇓</span>
                          </th>  
                    </tr>
                </thead>
                <tbody v-for="parking in showParkings" :key="parking.id" class="parkings-row">
                    <tr>
                        <td>{{ parking.licensePlate }}</td>
                        <td>{{ parking.make }}</td>
                        <td>{{ parking.model }}</td>
                        <td>{{ parking.color }}</td>
                        <td>{{ formatDateTime(parking.endedParked.timeStarted) }}</td>
                        <td>{{ formatDateTime(parking.endedParked.timeEnded) }}</td>
                        <td>{{ calculateTotalTime(parking.endedParked.timeStarted, parking.endedParked.timeEnded) }}</td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>
    <script src="main.js"></script>
</body>
</html>